<!--
<h2>
    Welcome{{name}}
</h2>
<h2>{{"Welcome" + name}}</h2>
<h2>{{name.length}}</h2>    
<input type="text" value="sam">

<h2 class="text-class">Class Binding1 </h2>
<h2 [class]="successclass">Class Binding2</h2>
<h2 [ngClass]=" messageClass">Class Binding3</h2>
<h2 [class.text-danger]="hasError">xcvbnm</h2>

<h2 [style.color]="hasError ? 'red' : 'green'">Style Binding1</h2>
<h2 [style.color]="heighlightColor">Style Binding2</h2>
<h2 [ngStyle]="textStyles">Style Binding3</h2>

<button (click)="onClick()">Binding1</button>
<button (click)="binding='Welcome to this world' ">Binding2</button>
{{binding}}
<br>
<br>
<input  #input type="text">
<button (click)="mybtn(input.value)">Submit</button>
<br>

<input [(ngModel)]="name" type="text">
{{name}}

<h2 *ngIf="displayName; else elseBlock">Strcured Directive</h2>
<ng-template #elseBlock>
    <h2>Structured Directive</h2>
</ng-template>

<div *ngIf="displayName; then thenBlock  else elseBlock"></div>
<ng-template #thenBlock>
    <h2>Dr1</h2>
</ng-template>
<ng-template #elseBlock>
    <h2>Dr2</h2>
</ng-template>

<div [ngSwitch]="color">
    <div *ngSwitchCase="'red'">pick Red color</div>
    <div *ngSwitchCase="'green'">pick Green color</div>
    <div *ngSwitchCase="'blue'">pick Blue color</div>
    <div *ngSwitchDefault="'black'">Any color</div>
</div>

<div *ngFor="let color of colors; index as i ">
    <h2>{{i}} {{color}}</h2>
</div>

<h2>{{names}}</h2>

<h2>{{name | lowercase}}</h2>
<h2>{{name | uppercase}}</h2>
<h2>{{name | titlecase}}</h2>
<h2>{{person | json}}</h2>
<h2>{{5.678 | number:'1.2-3'}}</h2>
<h2>{{5.678 | number:'3.4-5'}}</h2>
<h2>{{5.678 | number:'3.1-2'}}</h2>

<h2>{{date}}</h2>
<h2>{{date | date:'short'}}</h2>
<h2>{{date | date:'shortTime'}}</h2>
<h2>{{date | date:'shortDate'}}</h2>

-->

<!--
    <h2>Employee Lists</h2>
    <ul *ngFor="let employee of employees">
    </ul>

    <h2>Employee Lists</h2>

        <ul *ngFor="let employee of employees">
            <li>{{employee.id}} - {{employee.name}} - {{employee.age}}</li>
        </ul>
-->

<!--

<table *ngFor="let employee of employees">
    <tr>
        <th>Emp-UserId</th>
        <th>Emp-Id</th>
        <th>Emp-Title</th>
        <th>EMp-body</th>
    </tr>

    <tr>
        <td>{{employee.userId}}</td>
        <td>{{employee.id}}</td>
        <td>{{employee.title}</td>
        <td>{{employee.body}}</td>
    </tr>

</table>
-->